<main
	class="container flex w-full justify-center md:h-full-screen md:items-center"
>
	<!-- start - form -->
	<form
		id="mainForm"
		class="flex flex-col w-full max-w-sm xl:max-w-md md:shadow-card pb-10 pt-8 px-6 md:rounded-lg"
		method="post"
		action="/register"
		novalidate
	>
		<!-- title -->
		<h1 class="mb-6 text-4xl">Register Page</h1>

		<!-- 
			jika file javascript tidak bisa terload atau di nonaktifkan, maka validasi di front end akan menghilang, karena itu di tambahkan validasi juga di backend untuk mengecek inputan user sudah sesuai atau belum
		-->
		<% if (typeof errors !== undefined && typeof errors !== null &&
		errors.length > 0) { %>
		<div id="error" class="mb-4">
			<div
				class="text-white bg-danger flex justify-between rounded-md py-1 px-2 mb-2"
				role="alertdialog"
				aria-roledescription="Alert for error validation"
			>
				<p><%= errors[0].msg %></p>
				<button
					id="closeError"
					class="text-white flex justify-start items-start"
				>
					<i data-feather="x-circle" class="cursor-pointer stroke-white"></i>
				</button>
			</div>
		</div>
		<% } %>

		<!-- start - name -->
		<div class="xl:flex xl:gap-2">
			<!-- start - first name -->
			<div class="form-group mb-6">
				<label
					for="firstName"
					class="form-label inline-block mb-2 text-gray-700"
					>First Name :</label
				>
				<input
					type="text"
					class="form__input form__input--border form__input--primary"
					id="firstName"
					name="firstName"
					aria-describedby="FirstName"
					placeholder="Your first name here..."
				/>
			</div>
			<!-- end - first name -->

			<!-- start - last name -->
			<div class="form-group mb-6">
				<label for="lastName" class="form-label inline-block mb-2 text-gray-700"
					>Last Name :</label
				>
				<input
					type="text"
					class="form__input form__input--border form__input--primary"
					id="lastName"
					name="lastName"
					aria-describedby="LastName"
					placeholder="Your last name here... (opsional)"
				/>
			</div>
			<!-- end - last name -->
		</div>
		<!-- end - name -->

		<!-- start - email -->
		<div class="form-group mb-6">
			<label for="email" class="form-label inline-block mb-2 text-gray-700"
				>Email :</label
			>
			<input
				type="email"
				class="form__input form__input--border form__input--primary"
				id="email"
				name="email"
				aria-describedby="emailHelp"
				placeholder="example@example.com"
			/>
		</div>
		<!-- end - email -->

		<!-- start - password -->
		<div class="form-group mb-6">
			<label for="password" class="form-label inline-block mb-2 text-gray-700"
				>Password :</label
			>
			<input
				type="password"
				class="form__input form__input--border form__input--primary"
				id="password"
				name="password"
				placeholder="Enter your password here..."
			/>
		</div>
		<!-- end - password -->

		<!-- start - submit button -->
		<button
			type="submit"
			id="formButton"
			class="button button--primary self-end"
			data-just-validate-fallback-disabled="false"
		>
			Sign up
		</button>
		<!-- end - submit button -->

		<!-- start - login link -->
		<p class="text-gray-800 mt-6 text-center">
			Have an account?
			<a
				href="/login"
				class="text-primary hover:text-secondary focus:text-secondary transition duration-200 ease-in-out"
				>Login</a
			>
		</p>
		<!-- end - login link -->
	</form>
	<!-- end - form -->
</main>
