<div class="flex gap-4 justify-between items-center">
	<a href="/user/cart">
		<i
			class="fa-solid fa-cart-shopping cursor-pointer text-white text-base"></i>
	</a>
	<a href="/user/notification">
		<i class="fa-solid fa-bell cursor-pointer text-white text-base"></i>
	</a>
	<button
		class="border-solid border-2 border-white w-8 h-8 flex justify-center items-center rounded-full"
		role="menu">
		<i class="fa-solid fa-user cursor-pointer text-white text-base"></i>
	</button>
</div>
