<footer class="bg-primary py-6">
	<div class="container mx-auto px-4">
		<div
			class="flex flex-wrap md:grid xl:flex grid-cols-2 grid-rows-2 items-center justify-between gap-4">
			<div class="order-2 md:order-1 w-full sm:w-auto md:row-span-full">
				<ul
					class="flex items-center justify-between xs:justify-center xs:gap-6 text-white">
					<li class="flex justify-center items-center">
						<a href="#" class="w-full h-full">
							<i
								class="fa-brands fa-instagram text-2xl hover:text-warning transition-colors"></i>
						</a>
					</li>
					<li class="flex justify-center items-center">
						<a href="#" class="w-full h-full">
							<i
								class="fa-brands fa-tiktok text-2xl hover:text-warning transition-colors"></i>
						</a>
					</li>
					<li class="flex justify-center items-center">
						<a href="#" class="w-full h-full">
							<i
								class="fa-brands fa-twitter text-2xl hover:text-warning transition-colors"></i>
						</a>
					</li>
					<li class="flex justify-center items-center">
						<a href="#" class="w-full h-full">
							<i
								class="fa-brands fa-facebook text-2xl hover:text-warning transition-colors"></i>
						</a>
					</li>
					<li class="flex justify-center items-center">
						<a href="#" class="w-full h-full">
							<i
								class="fa-brands fa-whatsapp text-2xl hover:text-warning transition-colors"></i>
						</a>
					</li>
				</ul>
			</div>
			<div class="order-1 md:order-2 w-full sm:w-auto">
				<ul class="flex flex-wrap items-center gap-6">
					<li>
						<form class="flex">
							<input
								type="text"
								placeholder="Cari produk"
								class="w-full flex-grow rounded-l-lg px-4 py-2 focus:outline-none focus:ring-2 focus:ring-blue-400 text-gray-700" />
							<button
								type="submit"
								class="button--warning flex-grow-0 text-white px-4 py-2 rounded-r-lg">
								Cari
							</button>
						</form>
					</li>
					<li>
						<a href="#" class="text-white hover:text-warning transition-colors"
							>Terms and Service</a
						>
					</li>
					<li>
						<a href="#" class="text-white hover:text-warning transition-colors"
							>Sitemap</a
						>
					</li>
				</ul>
			</div>
			<div class="order-3 w-full sm:w-auto">
				<ul class="flex flex-wrap gap-6 items-center">
					<li>
						<form class="flex">
							<input
								type="email"
								placeholder="Berlangganan"
								class="w-full flex-grow rounded-l-lg px-4 py-2 focus:outline-none focus:ring-2 focus:ring-blue-400 text-gray-700" />
							<button
								type="submit"
								class="button--warning flex-grow-0 text-white px-4 py-2 rounded-r-lg">
								Submit
							</button>
						</form>
					</li>
					<li class="text-white hover:text-warning">
						<a href="#" class="text-white hover:text-warning transition-colors"
							>Hubungi Kami</a
						>
					</li>
					<!-- Tambahkan tautan footer lainnya di sini -->
				</ul>
			</div>
		</div>
		<hr class="text-white border mt-6" />
		<p class="text-white text-center mt-4">
			© 2023 AdiPutra. All rights reserved.
		</p>
	</div>
</footer>
