<nav
	class="bottom-nav xl:hidden bg-white fixed bottom-0 left-0 right-0 pb-3 pt-6">
	<ul class="bottom-nav__list flex justify-around">
		<li class="bottom-nav__item">
			<a href="#" class="bottom-nav__link">
				<i class="fa-solid fa-bell"></i>
			</a>
		</li>
		<li class="bottom-nav__item">
			<a href="#" class="bottom-nav__link">
				<i class="fa-solid fa-shopping-cart"></i>
			</a>
		</li>
		<li class="bottom-nav__item">
			<a href="#" class="bottom-nav__link">
				<i class="fa-solid fa-home"></i>
			</a>
		</li>
		<li class="bottom-nav__item">
			<a href="#" class="bottom-nav__link">
				<i class="fa-solid fa-user"></i>
			</a>
		</li>
		<li class="bottom-nav__item">
			<a href="#" class="bottom-nav__link">
				<i class="fa-solid fa-arrow-up"></i>
			</a>
		</li>
	</ul>
</nav>
