<div id="promotion" class="bg-danger py-2 text-xs md:text-sm xl:text-base">
	<div class="container text-center mx-auto">
		<p class="text-white font-bold">
			Hemat hingga 50% di seluruh koleksi kami! Gunakan kode promo "SUMMERSALE".
		</p>
	</div>
</div>
