@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		font-family: 'Work Sans', sans-serif;
	}

	body {
		@apply bg-white min-h-screen;
	}

	main {
		min-height: calc(
			100vh - 120px - 131px
		); /* Tinggi halaman web yang tampil - tinggi header - tinggi footer */
	}

	.icons {
		@apply w-5 text-black stroke-black;
	}
}

@layer components {
	/* Button */
	.button {
		@apply flex gap-3 py-3 px-6 rounded w-fit text-white duration-300 disabled:bg-black;
	}

	/* Button colors */
	.button--primary {
		@apply !bg-primary transition-opacity;
	}

	.button--danger {
		@apply !bg-danger transition-opacity;
	}

	.button--warning {
		@apply !bg-warning transition-opacity;
	}

	/* Button border no color */
	.button--primary--border {
		@apply outline outline-2 -outline-offset-2 !outline-primary text-primary;
	}

	.button--danger--border {
		@apply outline outline-2 -outline-offset-2 !outline-danger text-danger;
	}

	.button--warning--border {
		@apply outline outline-2 -outline-offset-2 !outline-warning text-warning;
	}

	.button--primary:hover,
	.button--danger:hover,
	.button--warning:hover {
		@apply !bg-opacity-75;
	}

	.button--primary--border:hover {
		@apply bg-primary bg-opacity-75 text-white;
	}

	.button--danger--border:hover {
		@apply bg-danger bg-opacity-75 text-white;
	}

	.button--warning--border:hover {
		@apply bg-warning bg-opacity-75 text-white;
	}

	/* Nav links */
	.nav__link {
		@apply hover:text-white xl:hover:text-warning xl:hover:bg-opacity-0 hover:bg-warning rounded-l-full xl:rounded-none hover:px-6 xl:hover:px-0 py-3 xl:py-0 transition-all duration-150;
	}

	/* .nav__link--mobile {
		@apply     ;
	} */

	.nav__link[aria-current] {
		@apply text-white xl:text-warning bg-warning xl:bg-opacity-0 px-6 xl:px-0;
	}

	/* .nav__link--mobile[aria-current] {
		@apply  ;
	} */

	/* Nav button */
	button span {
		@apply bg-white;
	}
	button[aria-expanded='true'] span:nth-child(1) {
		@apply animate-top;
	}
	button[aria-expanded='true'] span:nth-child(2) {
		@apply animate-zoom-out;
	}
	button[aria-expanded='true'] span:nth-child(3) {
		@apply animate-bottom;
	}
	button[aria-expanded='false'] span:nth-child(1) {
		@apply animate-top-2;
	}
	button[aria-expanded='false'] span:nth-child(2) {
		@apply animate-zoom-in;
	}
	button[aria-expanded='false'] span:nth-child(3) {
		@apply animate-bottom-2;
	}

	/* Form input */
	.form__input {
		@apply form-input block w-full px-3 py-1.5 text-base font-normal text-black bg-white bg-clip-padding rounded border-none outline-none transition ease-in-out duration-300 m-0 focus:text-black focus:bg-white focus:border-primary focus:outline-none;
	}

	.form__input--border {
		@apply border border-solid border-black;
	}
}

@layer utilities {
	.logo {
		font-family: 'Exo', sans-serif;
		@apply text-2xl xs:text-3xl md:text-4xl text-warning;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-family: 'Lora', sans-serif;
	}

	nav {
		box-shadow: 0.1px 0.3px 0.4px -10px rgba(0, 0, 0, 0.028),
			0.1px 0.7px 1px -10px rgba(0, 0, 0, 0.04),
			0.3px 1.3px 1.9px -10px rgba(0, 0, 0, 0.05),
			0.4px 2.2px 3.4px -10px rgba(0, 0, 0, 0.06),
			0.8px 4.2px 6.3px -10px rgba(0, 0, 0, 0.072),
			2px 10px 15px -10px rgba(0, 0, 0, 0.1);
	}

	.nav_shadow {
		box-shadow: -5px 0 10px rgba(0, 0, 0, 0.2);
	}

	.shadow-card {
		box-shadow: 1.5px 1.3px 4.2px rgba(0, 0, 0, 0.01),
			4.3px 3.8px 10.1px rgba(0, 0, 0, 0.018),
			9.2px 8.1px 19px rgba(0, 0, 0, 0.025),
			17.8px 15.7px 34px rgba(0, 0, 0, 0.031),
			34.2px 30.3px 63.5px rgba(0, 0, 0, 0.039),
			79px 70px 152px rgba(0, 0, 0, 0.05);
	}

	/* form */
	.invalid {
		@apply border-danger;
	}

	.error {
		@apply text-xs text-danger;
	}

	/* Nav show */
	.show {
		@apply max-w-xs pl-4 xs:pl-6;
	}
}
